body {
   margin-top: 0px;
    border: 2px solid darkblue;
   
}
#top > .tpanel {
    float:left;
    width:19.92%;
    background-color: rgba(204, 102, 0, 0.5);
    border-right: 1px solid black;
    border-bottom: 1px solid grey;
    font-size: 25px;
}
#top > clock{
    float: left;
    width:20%;
}
#container{
    background-image: url(Grafika/tlo.jpg);
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    min-height: 650px;
}
#top{
    color: whitesmoke;
    border-top: 3px solid black;
    font-size: 40px;
    background-color: rgba(204, 102, 0, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
}
#content{
    min-height: 800;
}
#center{
    float: left;
    width: 900px;
    background-color: rgba(0, 0, 0, 0.6);
    color: azure;
    margin-top: 40px;
    margin-bottom: 10px;
    min-height: 480px;
    border: 1px solid lightblue; 
    text-align: left;
    padding-left: 15px;
    border-radius: 5px 5px 5px 5px;
    margin-left: 40px;
   
}
#center > h1
{
    color: gold;
    font-size: 25px;
    text-align: center;

}
#nav{
    float: left;
    width: 300px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    margin-top: 40px;
    border: 1px solid lightblue;
    border-radius: 3px 3px 3px 3px;
    margin-left: 5px;
    
}
#footer{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    border-top: 3px solid black;
    background-color: rgba(204, 102, 0, 0.5);
   min-height: 30px;
    
}
.space{
    width:100px;
    float:left;
    visibility: hidden;
}
#nav>ul{
    margin-left: 0px;
}

#nav > ul > a > li{
    list-style-type: none;
    padding-left: 10px;
    text-align: center;
    background-image: url(Grafika/przycisk2.png);
    color:gold;
    margin-left: 0px;
    font-size:30px;
    line-height: 150%;
    width: 196px;
    margin-bottom: 8px;
    border-bottom: 1px solid gold;
    text-underline-position: none;

}

a{
    text-decoration: none;
}
#nav>ul>a>li:hover{
    color:aliceblue;
}
.error {
	color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}

form{
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.g-recaptcha{
   
}

.error {
	color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}
.zarejestruj{
    display: block;
    width:60%;
    font-size: 40px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid lightblue;
    margin-top: 3%;
    background-color: rgba(60, 60, 255, 0.3);
    
}
.niezwlekaj{
    text-align: center;
    font-size: 30px;
    margin-top: 1%;
}

.cytat{
    width: 85%;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(90, 90, 90, 0.6);
    border: 1px solid lightblue;
    text-align: justify;
    padding: 1%;
}
.zdjecie{
    display: inline-block;
    width:10%;
    
}
.zdjecie img
{
	width: 90px;
	height: 90px;
}
.tresc{
    text-align: center;
    display: inline-block;
    margin-left: 5%;
    font-style: italic;
}


.mediaWszystkie {
	width: 12%;
	min-height: 400px;
	float: left;
}

.tworcy {
	float: left;
	min-height: 100px;
	width: 80%;
	margin: 10px;
	font-size: 20px;
}

.fb {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #4668b3;
}

.yt {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #d94348;
}

.gplus {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #d95333;
}

.tw {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #3095d3;
}

.fb:hover {
	background-color: #3557a2;
}

.yt:hover {
	background-color: #c83237;
}

.gplus:hover {
	background-color: #c84222;
}

.tw:hover {
	background-color: #2084c2;
}

.tilelink {
	text-decoration: none;
	display: block;
	height: 80px;
	width: 60px;
	color: white;
}

