.col-md-2{
    border: 1px solid lightblue;
    text-align: center;
    color: gold;
    border-radius: 5px;
    background-color: rgba(204, 102, 0, 0.5);
    width:2%;
}

#content{
    min-height: 800;
}
a:hover{
    text-decoration: none;
}
#center{
    width: auto;
    min-height: 410px;
    background-color: rgba(0, 0, 0, 0.6);
    color: azure;
    border: 1px solid lightblue; 
    text-align: center;
    border-radius: 5px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 250px;
    padding: 10px;
    margin-bottom: 40px;
}
#center > h1
{
    color: gold;
    font-size: 25px;
    text-align: center;

}

#nav{
    float: left;
    width: 230px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    margin-top: 1%;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin-right: 10px;
    margin-left:10px;
    padding: 10px;
    position: fixed;
    margin-bottom: 50px;
}
#footer{
    text-align: center;
    width: 100%;
    color: gold;
    font-size: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: rgba(204, 102, 0, 0.5);
    min-height: 30px;
    bottom: 0px;
    margin-top:3%;
}
.space{
    width:100px;
    float:left;
    visibility: hidden;
}

#nav > a > #button{
    list-style-type: none;
    background-image: url(Grafika/przycisk.png);
    margin: 0 auto;
    font-size:20px;
    width: 200px;
    height: 47px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 47px;
    color: gold;
}

#nav > a > #button:hover{
    color: royalblue;
    text-decoration: none;
}
.error {
	color: red;
	margin-bottom: 10px;
	margin-top: 10px;
}

form{
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    #center {
        width: 100%;
        float:left;
        margin-left: 0px;
    }

    #nav {
        margin-left: 0px;
        width: 100%;
        position: static;
    }

    #pomocniczy {
        width:100%;
    }
}
.niezwlekaj{
    text-align: center;
    font-size: 30px;
    margin-top: 1%;
}
.zarejestruj{
    display: block;
    width:60%;
    font-size: 40px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid lightblue;
    margin-top: 3%;
    background-color: rgba(60, 60, 255, 0.3);
    
}

.cytat{
    width: 72%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(90, 90, 90, 0.6);
    border: 1px solid lightblue;
    text-align: justify;
    padding: 1%;
    align-content: center;
     
}
.cytat:last-child{
        margin-bottom: 2%;
}

.zdjecie{
    display: inline-block;
    width:10%;
    
}
.zdjecie img
{
	width: 90px;
	height: 90px;
}
.tresc{
    text-align: center;
    display: inline-block;
    margin-left: 5%;
    font-style: italic;
    line-height: 150%;
    text-align: justify;  
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: right;
}


.mediaWszystkie {
	width: 12%;
	min-height: 400px;
	float: left;
}

.tworcy {
	float: left;
	min-height: 100px;
	width: 80%;
	margin: 10px;
	font-size: 20px;
}

.fb {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #4668b3;
}

.yt {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #d94348;
}

.gplus {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #d95333;
}

.tw {
	margin: 10px;
	height: 80px;
	width: 60px;
	background-color: #3095d3;
}

.fb:hover {
	background-color: #3557a2;
}

.yt:hover {
	background-color: #c83237;
}

.gplus:hover {
	background-color: #c84222;
}

.tw:hover {
	background-color: #2084c2;
}

.tilelink {
	text-decoration: none;
	display: block;
	height: 80px;
	width: 60px;
	color: white;
}

/*Zakladka Zrzuty ekranu*/
#screens{
    float: left;
   
   
}

#screens img{
    border-radius: 50px;
    border: 10px;
    width:300px;
    height:250px;
    transition: transform 0.8s ease-in-out;
     
}
#screens img:hover {
   
    transform: scale(2);
    cursor:pointer;
    
}

/* Full-width input fields */
input[type=text], input[type=password]{
    width: 20%;
    color:black;
   
}

/* Set a style for all buttons */
button {
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    padding-right: 43%;
    padding-left: 43%;
    text-align: center;
    background-color: crimson;
    color: black;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */

.container {
    width: 50px;
    text-align: left;
}

span.psw {
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;

    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-image: url(Grafika/tlo.jpg);
    align-content: center;
    width: 20%; /* Could be more or less, depending on screen size */
    border: 12px solid gold;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .modal-content{
        width:100%;
    }
}
.login2{
    width: auto;
    padding: 10px 18px;
    background-color: darkgreen;
    
}
.login2:hover{
    opacity: 0.8;
}
.zakladka{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
    margin-bottom: 2%;
    padding: 1%;
}
.zakladka_img{
    width:10%;
    display: inline-block;
    align-items:flex-start;
        
}
.zakladka_img img{
    width:100%;
}
.opis{
    width:40%;
    display: inline-block;
    font-size: 10px;
}
.level{
   text-align: left;
    
}
.ulepsz{
    width:15%;
    display: inline-block;
}
.nazwa{
    text-align: center;
}
.main{ 
   display: inline-block;
    width: 10%;
} 
.wymagania{
    display: inline-block;
    width:10%;
    font-size: 12px;   
}
#zasoby{
    background-color: rgba(0,0,0, 0.5);
    color:white;
    font-size: 20px;
    padding: 1%;
    text-align: center;
    margin: 10px;
    width:70%;
    margin-left: 270px;
    margin-right: auto;
    border: 1px solid black;
  
}
#zasoby img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.zasob{
    margin-right: 50px;
    display: inline-block;
}
#logo{
    width:230px;
    height: 70px;
    float:left;
   
}
#logo img{
    width:100%;
    height: 100%;
}
.gold_mine, .lumber_mill{
    display: inline-block;
    width:40%;
    text-align:center;
} 
.gold_mine img, .lumber_mill img{
    display: inline-block;
    width:90%;
    height: 150px;
    text-align:center;
    margin-bottom: 3%;
} 
.gold_mine >h1{
    color:gold;
}

.lumber_mill >h1{
    color:darkgoldenrod;
}
.gold_mine{
    align-items: flex-start;
}
.gold_mine_2 img{
    width:auto;
    height: auto;
}
.chopki{
    text-align: left;
}
/*-----------slide-show-------------*/
.css-slideshow{
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}

.css-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 36s 36s infinite;
}
figure:nth-child(2) {
  animation: xfade 36s 30s infinite;
}
figure:nth-child(3) {
  animation: xfade 36s 24s infinite;
}
figure:nth-child(4) {
  animation: xfade 36s 12s infinite;
}
figure:nth-child(5) {
  animation: xfade 36s 6s infinite;
}
figure:nth-child(6) {
  animation: xfade 36s 0s infinite;
}


@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
